@font-face {
    font-family: "MainMenuFont";
    src: url("HidebeastDemo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "WowMenuFont";
    src: url("HidebeastBlockyDemo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
